# 01. Import libraries

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

# 02. Import data

In [2]:
#Define path
path = r'C:\Users\astat\Documents\Final project'

In [3]:
#Import data
df_crime = pd.read_csv(os.path.join(path, 'Data', 'UK_Police_Street_Crime_2018-10-01_to_2021_09_31.csv'), index_col = False)

In [4]:
#Check import
df_crime.shape

(18994562, 13)

In [5]:
df_crime.head()

,Unnamed: 0,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,0,c7000c41002f19263d4adec66b911f1c3f5e7eeb1302a3...,2020-01,West Yorkshire Police,West Yorkshire Police,-1.570572,53.607792,On or near Park/Open Space,E01007418,Barnsley 016A,Other theft,Status update unavailable,NaN
1,1,b8bc1b6cf423a9431734982fffb11f803cf82140702cc7...,2020-01,West Yorkshire Police,West Yorkshire Police,-1.670108,53.553629,On or near Huddersfield Road,E01007426,Barnsley 027D,Robbery,Investigation complete; no suspect identified,NaN
2,2,8c69cefea36edafe5fa3f992ccc31d3cfd0c9af9a81429...,2020-01,West Yorkshire Police,West Yorkshire Police,-1.879031,53.943807,On or near Cross End Fold,E01010646,Bradford 001A,Bicycle theft,Investigation complete; no suspect identified,NaN
3,3,7236a8fb307214df61ca7a9b93bd309c0524f9bee58d89...,2020-01,West Yorkshire Police,West Yorkshire Police,-1.882746,53.933807,On or near Cocking Lane,E01010646,Bradford 001A,Burglary,Investigation complete; no suspect identified,NaN
4,4,92803cebdfde14ad870899c45c6bee398331f33a053bf1...,2020-01,West Yorkshire Police,West Yorkshire Police,-1.881467,53.944510,On or near Kilners Croft,E01010646,Bradford 001A,Criminal damage and arson,Investigation complete; no suspect identified,NaN

In [6]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18994562 entries, 0 to 18994561
Data columns (total 13 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             int64
 1   Crime ID               object
 2   Month                  object
 3   Reported by            object
 4   Falls within           object
 5   Longitude              float64
 6   Latitude               float64
 7   Location               object
 8   LSOA code              object
 9   LSOA name              object
 10  Crime type             object
 11  Last outcome category  object
 12  Context                float64
dtypes: float64(3), int64(1), object(9)
memory usage: 1.8+ GB

# 03. Quality checks

In [7]:
#Creating subset for duplicates
df_dups = df_crime[df_crime.duplicated()]

In [8]:
df_dups.head()

Empty DataFrame
Columns: [Unnamed: 0, Crime ID, Month, Reported by, Falls within, Longitude, Latitude, Location, LSOA code, LSOA name, Crime type, Last outcome category, Context]
Index: []

In [9]:
#Check for missing values
df_crime.isnull().sum()

Unnamed: 0                      0
Crime ID                  4679356
Month                           0
Reported by                     0
Falls within                    0
Longitude                  378800
Latitude                   378800
Location                        0
LSOA code                  864092
LSOA name                  864092
Crime type                      0
Last outcome category     4972730
Context                  18994562
dtype: int64

In [10]:
#Drop Crime ID - due to missing values and no relevance
df_crime=df_crime.drop(columns = ['Crime ID'])

In [11]:
df_crime.columns

Index(['Unnamed: 0', 'Month', 'Reported by', 'Falls within', 'Longitude',
       'Latitude', 'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category', 'Context'],
      dtype='object')

In [12]:
#checking values for Context
df_crime['Context'].value_counts(dropna = False)

NaN    18994562
Name: Context, dtype: int64

In [13]:
#Drop Context as only missing values
df_crime=df_crime.drop(columns = ['Context'])

In [14]:
df_crime.columns

Index(['Unnamed: 0', 'Month', 'Reported by', 'Falls within', 'Longitude',
       'Latitude', 'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category'],
      dtype='object')

In [15]:
#Renaming variables
df_crime.rename(columns = {'Unnamed: 0' : 'id'}, inplace = True)
df_crime.rename(columns = {'Month' : 'date'}, inplace = True)
df_crime.rename(columns = {'Reported by' : 'reported'}, inplace = True)
df_crime.rename(columns = {'Falls within' : 'crime_area'}, inplace = True)
df_crime.rename(columns = {'LSOA code' : 'lsoa_code'}, inplace = True)
df_crime.rename(columns = {'LSOA name' : 'lsoa_name'}, inplace = True)
df_crime.rename(columns = {'Crime type' : 'crime_type'}, inplace = True)
df_crime.rename(columns = {'Last outcome category' : 'outcome_cat'}, inplace = True)

In [16]:
df_crime.columns

Index(['id', 'date', 'reported', 'crime_area', 'Longitude', 'Latitude',
       'Location', 'lsoa_code', 'lsoa_name', 'crime_type', 'outcome_cat'],
      dtype='object')

# 04. Deriving new variables

In [17]:
#Extracting year and month from date variable
df_crime[["year", "month"]] = df_crime["date"].str.split("-", expand = True)

In [18]:
df_crime.columns

Index(['id', 'date', 'reported', 'crime_area', 'Longitude', 'Latitude',
       'Location', 'lsoa_code', 'lsoa_name', 'crime_type', 'outcome_cat',
       'year', 'month'],
      dtype='object')

In [19]:
df_crime.head()

,id,date,reported,crime_area,Longitude,Latitude,Location,lsoa_code,lsoa_name,crime_type,outcome_cat,year,month
0,0,2020-01,West Yorkshire Police,West Yorkshire Police,-1.570572,53.607792,On or near Park/Open Space,E01007418,Barnsley 016A,Other theft,Status update unavailable,2020,01
1,1,2020-01,West Yorkshire Police,West Yorkshire Police,-1.670108,53.553629,On or near Huddersfield Road,E01007426,Barnsley 027D,Robbery,Investigation complete; no suspect identified,2020,01
2,2,2020-01,West Yorkshire Police,West Yorkshire Police,-1.879031,53.943807,On or near Cross End Fold,E01010646,Bradford 001A,Bicycle theft,Investigation complete; no suspect identified,2020,01
3,3,2020-01,West Yorkshire Police,West Yorkshire Police,-1.882746,53.933807,On or near Cocking Lane,E01010646,Bradford 001A,Burglary,Investigation complete; no suspect identified,2020,01
4,4,2020-01,West Yorkshire Police,West Yorkshire Police,-1.881467,53.944510,On or near Kilners Croft,E01010646,Bradford 001A,Criminal damage and arson,Investigation complete; no suspect identified,2020,01

# 05. Categorical variables

In [20]:
#Checking values for Last outcome category
df_crime['outcome_cat'].value_counts(dropna = False)

Investigation complete; no suspect identified          5228532
NaN                                                    4972730
Unable to prosecute suspect                            4296688
Status update unavailable                              1878038
Court result unavailable                                727999
Under investigation                                     661900
Local resolution                                        323805
Awaiting court outcome                                  165362
Offender given a caution                                159563
Further investigation is not in the public interest     148175
Action to be taken by another organisation              138150
Formal action is not in the public interest              93296
Offender given a drugs possession warning                43619
Offender given penalty notice                            32917
Further action is not in the public interest             32362
Offender sent to prison                                  19429
Offender given community sentence                        18751
Offender fined                                           10562
Suspect charged as part of another case                   9475
Defendant found not guilty                                7625
Offender given conditional discharge                      6706
Offender given suspended prison sentence                  6640
Court case unable to proceed                              6144
Offender otherwise dealt with                             2043
Offender ordered to pay compensation                      1847
Defendant sent to Crown Court                             1247
Offender deprived of property                              791
Offender given absolute discharge                          166
Name: outcome_cat, dtype: int64

In [21]:
#Checking frequency for reported
df_crime['reported'].value_counts(dropna = False)

Metropolitan Police Service           3371292
West Yorkshire Police                  980503
West Midlands Police                   785195
Lancashire Constabulary                647491
Kent Police                            642310
Essex Police                           625946
Thames Valley Police                   597055
Northumbria Police                     592354
Hampshire Constabulary                 543272
South Yorkshire Police                 526495
Merseyside Police                      515578
Avon and Somerset Constabulary         502791
Police Service of Northern Ireland     486300
Sussex Police                          473201
South Wales Police                     438326
Nottinghamshire Police                 411912
Devon & Cornwall Police                402809
Derbyshire Constabulary                347457
West Mercia Police                     324826
Hertfordshire Constabulary             321437
Staffordshire Police                   314349
Cheshire Constabulary                  313930
Humberside Police                      309121
Leicestershire Police                  301618
Surrey Police                          292186
Cleveland Police                       292142
Greater Manchester Police              289150
Cambridgeshire Constabulary            245127
Northamptonshire Police                244725
Durham Constabulary                    238367
Norfolk Constabulary                   234294
Dorset Police                          222867
North Wales Police                     214250
North Yorkshire Police                 214234
Lincolnshire Police                    212153
Bedfordshire Police                    195851
Gloucestershire Constabulary           188879
Gwent Police                           188470
Suffolk Constabulary                   185791
Wiltshire Police                       168061
Warwickshire Police                    161815
British Transport Police               145734
Cumbria Constabulary                   132691
Dyfed-Powys Police                     129651
City of London Police                   22556
Name: reported, dtype: int64

In [22]:
#Removing BTP
df_crime.drop(df_crime[df_crime.reported == 'British Transport Police'].index, inplace=True)

In [23]:
#Removing Northern Ireland 
df_crime.drop(df_crime[df_crime.reported == 'Police Service of Northern Ireland'].index, inplace=True)

In [24]:
df_crime.shape

(18362528, 13)

In [25]:
#Checking frequency of crime_type
df_crime['crime_type'].value_counts(dropna = False)

Violence and sexual offences    5500918
Anti-social behaviour           4340696
Criminal damage and arson       1458268
Public order                    1330469
Other theft                     1235285
Vehicle crime                   1125482
Burglary                         928342
Shoplifting                      849002
Drugs                            514224
Other crime                      299653
Bicycle theft                    225554
Theft from the person            224855
Robbery                          205784
Possession of weapons            123996
Name: crime_type, dtype: int64

In [26]:
#Exporting df_crime to .csv
df_crime.to_csv(os.path.join(path, 'Data','Prepared Data', 'crime_wrangled.csv'))

# 06. Importing second data set

In [9]:
#Import data
df_police = pd.read_csv(os.path.join(path, 'Data', 'Police_staff_2018-2021.csv'), index_col = False)

In [10]:
df_police.shape

(168, 12)

In [11]:
df_police.head()

,Staff_area_name,Crime area name (matches force name on crime data),Geo_boundries_Data_match,Region citizen population 2021,Number of Police,Year,Police_per 1000 residents,Special Constables,Crimes Sept 2020 - August 2021 (12 months),crimes per 1000 redsident Sept 2020 - August 2021,"Crimes per police officer, Sept 2020 - August 2021",crimes per frontend police officer Sept 2020 - August 2021
0,Avon & Somerset,Avon and Somerset Constabulary,E23000036,1719000,2997,2021,1.7,305,156993.0,91.0,56.0,60.0
1,Bedfordshire,Bedfordshire Police,E23000026,675000,1335,2021,2.0,155,62203.0,92.0,50.0,55.0
2,Cambridgeshire,Cambridgeshire Constabulary,E23000023,855800,1620,2021,1.9,169,78874.0,92.0,51.0,54.0
3,Cheshire,Cheshire Constabulary,E23000006,1066600,2149,2021,2.0,213,102402.0,96.0,49.0,54.0
4,Cleveland,Cleveland Police,E23000013,569100,1414,2021,2.5,69,94077.0,165.0,70.0,76.0

# 07. Rename & Quality checks

In [12]:
#Renaming variables
df_police.rename(columns = {'Crime area name (matches force name on crime data)' : 'crime_area'}, inplace = True)
df_police.rename(columns = {'Geo_boundaries_Data_match' : 'pfa_code'}, inplace = True)
df_police.rename(columns = {'Region citizen population 2021' : 'number_residents'}, inplace = True)
df_police.rename(columns = {'Number of Police' : 'number_police'}, inplace = True)
df_police.rename(columns = {'Year' : 'year'}, inplace = True)
df_police.rename(columns = {'Police_per 1000 residents' : 'police_per_1000'}, inplace = True)
df_police.rename(columns = {'Special Constables' : 'number_spc'}, inplace = True)

In [13]:
#Check for missing values
df_police.isnull().sum()

Staff_area_name                                                 0
crime_area                                                      0
Geo_boundries_Data_match                                        0
number_residents                                                0
number_police                                                   0
year                                                            0
police_per_1000                                                 0
number_spc                                                      0
Crimes Sept 2020 - August 2021 (12 months)                    127
crimes per 1000 redsident Sept 2020 - August 2021             127
Crimes per police officer, Sept 2020 - August 2021            127
crimes per frontend police officer Sept 2020 - August 2021    127
dtype: int64

Missing values to be imputed once merge is complete.

In [14]:
#Creating subset for duplicates
df_dups = df_police[df_police.duplicated()]

In [15]:
df_dups.head()

Empty DataFrame
Columns: [Staff_area_name, crime_area, Geo_boundries_Data_match, number_residents, number_police, year, police_per_1000, number_spc, Crimes Sept 2020 - August 2021 (12 months), crimes per 1000 redsident Sept 2020 - August 2021, Crimes per police officer, Sept 2020 - August 2021, crimes per frontend police officer Sept 2020 - August 2021]
Index: []

# 08. Reducing size of dataframe for merge

In [16]:
#Import data
df_crime = pd.read_csv(os.path.join(path, 'Data','Prepared Data', 'crime_wrangled.csv'), index_col = False)

In [17]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18362528 entries, 0 to 18362527
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   id           int64
 2   date         object
 3   reported     object
 4   crime_area   object
 5   Longitude    float64
 6   Latitude     float64
 7   Location     object
 8   lsoa_code    object
 9   lsoa_name    object
 10  crime_type   object
 11  outcome_cat  object
 12  year         int64
 13  month        int64
dtypes: float64(2), int64(4), object(8)
memory usage: 1.9+ GB

In [18]:
#Adjusting data types
df_crime['id'] = df_crime['id'].astype('int32')
df_crime['Longitude'] = df_crime['Longitude'].astype('float32')
df_crime['Latitude'] = df_crime['Latitude'].astype('float32')
df_crime['year'] = df_crime['year'].astype('int16')
df_crime['month'] = df_crime['month'].astype('int8')

In [19]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18362528 entries, 0 to 18362527
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   id           int32
 2   date         object
 3   reported     object
 4   crime_area   object
 5   Longitude    float32
 6   Latitude     float32
 7   Location     object
 8   lsoa_code    object
 9   lsoa_name    object
 10  crime_type   object
 11  outcome_cat  object
 12  year         int16
 13  month        int8
dtypes: float32(2), int16(1), int32(1), int64(1), int8(1), object(8)
memory usage: 1.5+ GB

In [20]:
df_crime.head()

,Unnamed: 0,id,date,reported,crime_area,Longitude,Latitude,Location,lsoa_code,lsoa_name,crime_type,outcome_cat,year,month
0,0,0,2020-01,West Yorkshire Police,West Yorkshire Police,-1.570572,53.607792,On or near Park/Open Space,E01007418,Barnsley 016A,Other theft,Status update unavailable,2020,1
1,1,1,2020-01,West Yorkshire Police,West Yorkshire Police,-1.670108,53.553631,On or near Huddersfield Road,E01007426,Barnsley 027D,Robbery,Investigation complete; no suspect identified,2020,1
2,2,2,2020-01,West Yorkshire Police,West Yorkshire Police,-1.879031,53.943806,On or near Cross End Fold,E01010646,Bradford 001A,Bicycle theft,Investigation complete; no suspect identified,2020,1
3,3,3,2020-01,West Yorkshire Police,West Yorkshire Police,-1.882746,53.933807,On or near Cocking Lane,E01010646,Bradford 001A,Burglary,Investigation complete; no suspect identified,2020,1
4,4,4,2020-01,West Yorkshire Police,West Yorkshire Police,-1.881467,53.944511,On or near Kilners Croft,E01010646,Bradford 001A,Criminal damage and arson,Investigation complete; no suspect identified,2020,1

In [21]:
df_police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Staff_area_name                                             168 non-null    object
 1   crime_area                                                  168 non-null    object
 2   Geo_boundries_Data_match                                    168 non-null    object
 3   number_residents                                            168 non-null    int64
 4   number_police                                               168 non-null    int64
 5   year                                                        168 non-null    int64
 6   police_per_1000                                             168 non-null    float64
 7   number_spc                                                  168 non-null    int64
 8   Crimes Sept 2020 - August 2021 (12 months)                  41 non-null     float64
 9   crimes per 1000 redsident Sept 2020 - August 2021           41 non-null     float64
 10  Crimes per police officer, Sept 2020 - August 2021          41 non-null     float64
 11  crimes per frontend police officer Sept 2020 - August 2021  41 non-null     float64
dtypes: float64(5), int64(4), object(3)
memory usage: 15.9+ KB

In [22]:
#changing outcome_cat
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Action to be taken by another organisation', '1')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Awaiting court outcome', '2')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Court case unable to proceed', '3')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Court result unavailable', '4')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Defendant found not guilty', '5')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Defendant sent to Crown Court', '6')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Formal action is not in the public interest', '7')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Further action is not in the public interest', '8')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Further investigation is not in the public interest', '9')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Investigation complete; no suspect identified', '10')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Local resolution', '11')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Offender deprived of property', '12')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Offender fined', '13')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Offender given a caution', '14')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Offender given a drugs possession warning', '15')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Offender given absolute discharge', '16')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Offender given community sentence', '17')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Offender given conditional discharge', '18')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Offender given penalty notice', '19')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Offender given suspended prison sentence', '20')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Offender ordered to pay compensation', '21')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Offender otherwise dealt with', '22')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Offender sent to prison', '23')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Status update unavailable', '24')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Suspect charged as part of another case', '25')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Unable to prosecute suspect', '26')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('Under investigation', '27')
df_crime['outcome_cat'] = df_crime['outcome_cat'].replace('NaN', '')

In [23]:
#Checking values for Last outcome category
df_crime['outcome_cat'].value_counts(dropna = False)

10     5228532
NaN    4340696
26     4296688
24     1878038
4       727999
27      661900
11      323805
2       165362
14      159563
9       148175
1       138150
7        93296
15       43619
19       32917
8        32362
23       19429
17       18751
13       10562
25        9475
5         7625
18        6706
20        6640
3         6144
22        2043
21        1847
6         1247
12         791
16         166
Name: outcome_cat, dtype: int64

In [24]:
#changing crime_type
df_crime['crime_type'] = df_crime['crime_type'].replace('Anti-social behaviour', '1')
df_crime['crime_type'] = df_crime['crime_type'].replace('Bicycle theft', '2')
df_crime['crime_type'] = df_crime['crime_type'].replace('Burglary', '3')
df_crime['crime_type'] = df_crime['crime_type'].replace('Criminal damage and arson', '4')
df_crime['crime_type'] = df_crime['crime_type'].replace('Drugs', '5')
df_crime['crime_type'] = df_crime['crime_type'].replace('Possession of weapons', '6')
df_crime['crime_type'] = df_crime['crime_type'].replace('Public order', '7')
df_crime['crime_type'] = df_crime['crime_type'].replace('Robbery', '8')
df_crime['crime_type'] = df_crime['crime_type'].replace('Shoplifting', '9')
df_crime['crime_type'] = df_crime['crime_type'].replace('Theft from the person', '10')
df_crime['crime_type'] = df_crime['crime_type'].replace('Vehicle crime', '11')
df_crime['crime_type'] = df_crime['crime_type'].replace('Violence and sexual offences', '12')
df_crime['crime_type'] = df_crime['crime_type'].replace('Other crime', '13')
df_crime['crime_type'] = df_crime['crime_type'].replace('Other theft', '14')

In [25]:
#Checking values for amended crime_type
df_crime['crime_type'].value_counts(dropna = False)

12    5500918
1     4340696
4     1458268
7     1330469
14    1235285
11    1125482
3      928342
9      849002
5      514224
13     299653
2      225554
10     224855
8      205784
6      123996
Name: crime_type, dtype: int64

In [26]:
#Adjusting data types
df_crime['outcome_cat'] = df_crime['outcome_cat'].astype('float16')
df_crime['crime_type'] = df_crime['crime_type'].astype('int8')

In [27]:
df_crime.head()

,Unnamed: 0,id,date,reported,crime_area,Longitude,Latitude,Location,lsoa_code,lsoa_name,crime_type,outcome_cat,year,month
0,0,0,2020-01,West Yorkshire Police,West Yorkshire Police,-1.570572,53.607792,On or near Park/Open Space,E01007418,Barnsley 016A,14,24.0,2020,1
1,1,1,2020-01,West Yorkshire Police,West Yorkshire Police,-1.670108,53.553631,On or near Huddersfield Road,E01007426,Barnsley 027D,8,10.0,2020,1
2,2,2,2020-01,West Yorkshire Police,West Yorkshire Police,-1.879031,53.943806,On or near Cross End Fold,E01010646,Bradford 001A,2,10.0,2020,1
3,3,3,2020-01,West Yorkshire Police,West Yorkshire Police,-1.882746,53.933807,On or near Cocking Lane,E01010646,Bradford 001A,3,10.0,2020,1
4,4,4,2020-01,West Yorkshire Police,West Yorkshire Police,-1.881467,53.944511,On or near Kilners Croft,E01010646,Bradford 001A,4,10.0,2020,1

In [28]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18362528 entries, 0 to 18362527
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   id           int32
 2   date         object
 3   reported     object
 4   crime_area   object
 5   Longitude    float32
 6   Latitude     float32
 7   Location     object
 8   lsoa_code    object
 9   lsoa_name    object
 10  crime_type   int8
 11  outcome_cat  float16
 12  year         int16
 13  month        int8
dtypes: float16(1), float32(2), int16(1), int32(1), int64(1), int8(2), object(6)
memory usage: 1.3+ GB

In [29]:
#changing reported
df_crime['reported'] = df_crime['reported'].replace('Avon and Somerset Constabulary', '1')
df_crime['reported'] = df_crime['reported'].replace('Bedfordshire Police', '2')
df_crime['reported'] = df_crime['reported'].replace('Cambridgeshire Constabulary', '3')
df_crime['reported'] = df_crime['reported'].replace('Cheshire Constabulary', '4')
df_crime['reported'] = df_crime['reported'].replace('Cleveland Police', '5')
df_crime['reported'] = df_crime['reported'].replace('Cumbria Constabulary', '6')
df_crime['reported'] = df_crime['reported'].replace('Derbyshire Constabulary', '7')
df_crime['reported'] = df_crime['reported'].replace('Devon & Cornwall Police', '8')
df_crime['reported'] = df_crime['reported'].replace('Dorset Police', '9')
df_crime['reported'] = df_crime['reported'].replace('Durham Constabulary', '10')
df_crime['reported'] = df_crime['reported'].replace('Essex Police', '11')
df_crime['reported'] = df_crime['reported'].replace('Gloucestershire Constabulary', '12')
df_crime['reported'] = df_crime['reported'].replace('Greater Manchester Police', '13')
df_crime['reported'] = df_crime['reported'].replace('Hampshire Constabulary', '14')
df_crime['reported'] = df_crime['reported'].replace('Hertfordshire Constabulary', '15')
df_crime['reported'] = df_crime['reported'].replace('Humberside Police', '16')
df_crime['reported'] = df_crime['reported'].replace('Kent Police', '17')
df_crime['reported'] = df_crime['reported'].replace('Lancashire Constabulary', '18')
df_crime['reported'] = df_crime['reported'].replace('Leicestershire Police', '19')
df_crime['reported'] = df_crime['reported'].replace('Lincolnshire Police', '20')
df_crime['reported'] = df_crime['reported'].replace('Merseyside Police', '21')
df_crime['reported'] = df_crime['reported'].replace('Metropolitan Police Service', '22')
df_crime['reported'] = df_crime['reported'].replace('Norfolk Constabulary', '23')
df_crime['reported'] = df_crime['reported'].replace('Northamptonshire Police', '24')
df_crime['reported'] = df_crime['reported'].replace('Northumbria Police', '25')
df_crime['reported'] = df_crime['reported'].replace('North Yorkshire Police', '26')
df_crime['reported'] = df_crime['reported'].replace('Nottinghamshire Police', '27')
df_crime['reported'] = df_crime['reported'].replace('South Yorkshire Police', '28')
df_crime['reported'] = df_crime['reported'].replace('Staffordshire Police', '29')
df_crime['reported'] = df_crime['reported'].replace('Suffolk Constabulary', '30')
df_crime['reported'] = df_crime['reported'].replace('Surrey Police', '31')
df_crime['reported'] = df_crime['reported'].replace('Sussex Police', '32')
df_crime['reported'] = df_crime['reported'].replace('Thames Valley Police', '33')
df_crime['reported'] = df_crime['reported'].replace('Warwickshire Police', '34')
df_crime['reported'] = df_crime['reported'].replace('West Mercia Police', '35')
df_crime['reported'] = df_crime['reported'].replace('West Midlands Police', '36')
df_crime['reported'] = df_crime['reported'].replace('West Yorkshire Police', '37')
df_crime['reported'] = df_crime['reported'].replace('Wiltshire Police', '38')
df_crime['reported'] = df_crime['reported'].replace('City of London Police', '39')
df_crime['reported'] = df_crime['reported'].replace('Dyfed-Powys Police', '40')
df_crime['reported'] = df_crime['reported'].replace('Gwent Police', '41')
df_crime['reported'] = df_crime['reported'].replace('North Wales Police', '42')
df_crime['reported'] = df_crime['reported'].replace('South Wales Police', '43')

In [30]:
#Checking values for reported
df_crime['reported'].value_counts(dropna = False)

22    3371292
37     980503
36     785195
18     647491
17     642310
11     625946
33     597055
25     592354
14     543272
28     526495
21     515578
1      502791
32     473201
43     438326
27     411912
8      402809
7      347457
35     324826
15     321437
29     314349
4      313930
16     309121
19     301618
31     292186
5      292142
13     289150
3      245127
24     244725
10     238367
23     234294
9      222867
42     214250
26     214234
20     212153
2      195851
12     188879
41     188470
30     185791
38     168061
34     161815
6      132691
40     129651
39      22556
Name: reported, dtype: int64

In [31]:
#Adjusting data types
df_crime['reported'] = df_crime['reported'].astype('int8')

In [32]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18362528 entries, 0 to 18362527
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   id           int32
 2   date         object
 3   reported     int8
 4   crime_area   object
 5   Longitude    float32
 6   Latitude     float32
 7   Location     object
 8   lsoa_code    object
 9   lsoa_name    object
 10  crime_type   int8
 11  outcome_cat  float16
 12  year         int16
 13  month        int8
dtypes: float16(1), float32(2), int16(1), int32(1), int64(1), int8(3), object(5)
memory usage: 1.1+ GB

In [33]:
df_crime.head()

,Unnamed: 0,id,date,reported,crime_area,Longitude,Latitude,Location,lsoa_code,lsoa_name,crime_type,outcome_cat,year,month
0,0,0,2020-01,37,West Yorkshire Police,-1.570572,53.607792,On or near Park/Open Space,E01007418,Barnsley 016A,14,24.0,2020,1
1,1,1,2020-01,37,West Yorkshire Police,-1.670108,53.553631,On or near Huddersfield Road,E01007426,Barnsley 027D,8,10.0,2020,1
2,2,2,2020-01,37,West Yorkshire Police,-1.879031,53.943806,On or near Cross End Fold,E01010646,Bradford 001A,2,10.0,2020,1
3,3,3,2020-01,37,West Yorkshire Police,-1.882746,53.933807,On or near Cocking Lane,E01010646,Bradford 001A,3,10.0,2020,1
4,4,4,2020-01,37,West Yorkshire Police,-1.881467,53.944511,On or near Kilners Croft,E01010646,Bradford 001A,4,10.0,2020,1

In [34]:
#changing crime_area in df_crime
df_crime['crime_area'] = df_crime['crime_area'].replace('Avon and Somerset Constabulary', '1')
df_crime['crime_area'] = df_crime['crime_area'].replace('Bedfordshire Police', '2')
df_crime['crime_area'] = df_crime['crime_area'].replace('Cambridgeshire Constabulary', '3')
df_crime['crime_area'] = df_crime['crime_area'].replace('Cheshire Constabulary', '4')
df_crime['crime_area'] = df_crime['crime_area'].replace('Cleveland Police', '5')
df_crime['crime_area'] = df_crime['crime_area'].replace('Cumbria Constabulary', '6')
df_crime['crime_area'] = df_crime['crime_area'].replace('Derbyshire Constabulary', '7')
df_crime['crime_area'] = df_crime['crime_area'].replace('Devon & Cornwall Police', '8')
df_crime['crime_area'] = df_crime['crime_area'].replace('Dorset Police', '9')
df_crime['crime_area'] = df_crime['crime_area'].replace('Durham Constabulary', '10')
df_crime['crime_area'] = df_crime['crime_area'].replace('Essex Police', '11')
df_crime['crime_area'] = df_crime['crime_area'].replace('Gloucestershire Constabulary', '12')
df_crime['crime_area'] = df_crime['crime_area'].replace('Greater Manchester Police', '13')
df_crime['crime_area'] = df_crime['crime_area'].replace('Hampshire Constabulary', '14')
df_crime['crime_area'] = df_crime['crime_area'].replace('Hertfordshire Constabulary', '15')
df_crime['crime_area'] = df_crime['crime_area'].replace('Humberside Police', '16')
df_crime['crime_area'] = df_crime['crime_area'].replace('Kent Police', '17')
df_crime['crime_area'] = df_crime['crime_area'].replace('Lancashire Constabulary', '18')
df_crime['crime_area'] = df_crime['crime_area'].replace('Leicestershire Police', '19')
df_crime['crime_area'] = df_crime['crime_area'].replace('Lincolnshire Police', '20')
df_crime['crime_area'] = df_crime['crime_area'].replace('Merseyside Police', '21')
df_crime['crime_area'] = df_crime['crime_area'].replace('Metropolitan Police Service', '22')
df_crime['crime_area'] = df_crime['crime_area'].replace('Norfolk Constabulary', '23')
df_crime['crime_area'] = df_crime['crime_area'].replace('Northamptonshire Police', '24')
df_crime['crime_area'] = df_crime['crime_area'].replace('Northumbria Police', '25')
df_crime['crime_area'] = df_crime['crime_area'].replace('North Yorkshire Police', '26')
df_crime['crime_area'] = df_crime['crime_area'].replace('Nottinghamshire Police', '27')
df_crime['crime_area'] = df_crime['crime_area'].replace('South Yorkshire Police', '28')
df_crime['crime_area'] = df_crime['crime_area'].replace('Staffordshire Police', '29')
df_crime['crime_area'] = df_crime['crime_area'].replace('Suffolk Constabulary', '30')
df_crime['crime_area'] = df_crime['crime_area'].replace('Surrey Police', '31')
df_crime['crime_area'] = df_crime['crime_area'].replace('Sussex Police', '32')
df_crime['crime_area'] = df_crime['crime_area'].replace('Thames Valley Police', '33')
df_crime['crime_area'] = df_crime['crime_area'].replace('Warwickshire Police', '34')
df_crime['crime_area'] = df_crime['crime_area'].replace('West Mercia Police', '35')
df_crime['crime_area'] = df_crime['crime_area'].replace('West Midlands Police', '36')
df_crime['crime_area'] = df_crime['crime_area'].replace('West Yorkshire Police', '37')
df_crime['crime_area'] = df_crime['crime_area'].replace('Wiltshire Police', '38')
df_crime['crime_area'] = df_crime['crime_area'].replace('City of London Police', '39')
df_crime['crime_area'] = df_crime['crime_area'].replace('Dyfed-Powys Police', '40')
df_crime['crime_area'] = df_crime['crime_area'].replace('Gwent Police', '41')
df_crime['crime_area'] = df_crime['crime_area'].replace('North Wales Police', '42')
df_crime['crime_area'] = df_crime['crime_area'].replace('South Wales Police', '43')

In [35]:
#Checking values for crime_area
df_crime['crime_area'].value_counts(dropna = False)

22    3371292
37     980503
36     785195
18     647491
17     642310
11     625946
33     597055
25     592354
14     543272
28     526495
21     515578
1      502791
32     473201
43     438326
27     411912
8      402809
7      347457
35     324826
15     321437
29     314349
4      313930
16     309121
19     301618
31     292186
5      292142
13     289150
3      245127
24     244725
10     238367
23     234294
9      222867
42     214250
26     214234
20     212153
2      195851
12     188879
41     188470
30     185791
38     168061
34     161815
6      132691
40     129651
39      22556
Name: crime_area, dtype: int64

In [36]:
#Adjusting data types
df_crime['crime_area'] = df_crime['crime_area'].astype('int8')

In [37]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18362528 entries, 0 to 18362527
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   id           int32
 2   date         object
 3   reported     int8
 4   crime_area   int8
 5   Longitude    float32
 6   Latitude     float32
 7   Location     object
 8   lsoa_code    object
 9   lsoa_name    object
 10  crime_type   int8
 11  outcome_cat  float16
 12  year         int16
 13  month        int8
dtypes: float16(1), float32(2), int16(1), int32(1), int64(1), int8(4), object(4)
memory usage: 1.0+ GB

In [38]:
df_crime.head()

,Unnamed: 0,id,date,reported,crime_area,Longitude,Latitude,Location,lsoa_code,lsoa_name,crime_type,outcome_cat,year,month
0,0,0,2020-01,37,37,-1.570572,53.607792,On or near Park/Open Space,E01007418,Barnsley 016A,14,24.0,2020,1
1,1,1,2020-01,37,37,-1.670108,53.553631,On or near Huddersfield Road,E01007426,Barnsley 027D,8,10.0,2020,1
2,2,2,2020-01,37,37,-1.879031,53.943806,On or near Cross End Fold,E01010646,Bradford 001A,2,10.0,2020,1
3,3,3,2020-01,37,37,-1.882746,53.933807,On or near Cocking Lane,E01010646,Bradford 001A,3,10.0,2020,1
4,4,4,2020-01,37,37,-1.881467,53.944511,On or near Kilners Croft,E01010646,Bradford 001A,4,10.0,2020,1

In [39]:
#Drop Location 
df_crime=df_crime.drop(columns = ['Location'])

In [40]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18362528 entries, 0 to 18362527
Data columns (total 13 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   id           int32
 2   date         object
 3   reported     int8
 4   crime_area   int8
 5   Longitude    float32
 6   Latitude     float32
 7   lsoa_code    object
 8   lsoa_name    object
 9   crime_type   int8
 10  outcome_cat  float16
 11  year         int16
 12  month        int8
dtypes: float16(1), float32(2), int16(1), int32(1), int64(1), int8(4), object(3)
memory usage: 910.6+ MB

In [41]:
#changing crime_area in df_police
df_police['crime_area'] = df_police['crime_area'].replace('Avon and Somerset Constabulary', '1')
df_police['crime_area'] = df_police['crime_area'].replace('Bedfordshire Police', '2')
df_police['crime_area'] = df_police['crime_area'].replace('Cambridgeshire Constabulary', '3')
df_police['crime_area'] = df_police['crime_area'].replace('Cheshire Constabulary', '4')
df_police['crime_area'] = df_police['crime_area'].replace('Cleveland Police', '5')
df_police['crime_area'] = df_police['crime_area'].replace('Cumbria Constabulary', '6')
df_police['crime_area'] = df_police['crime_area'].replace('Derbyshire Constabulary', '7')
df_police['crime_area'] = df_police['crime_area'].replace('Devon & Cornwall Police', '8')
df_police['crime_area'] = df_police['crime_area'].replace('Dorset Police', '9')
df_police['crime_area'] = df_police['crime_area'].replace('Durham Constabulary', '10')
df_police['crime_area'] = df_police['crime_area'].replace('Essex Police', '11')
df_police['crime_area'] = df_police['crime_area'].replace('Gloucestershire Constabulary', '12')
df_police['crime_area'] = df_police['crime_area'].replace('Greater Manchester Police', '13')
df_police['crime_area'] = df_police['crime_area'].replace('Hampshire Constabulary', '14')
df_police['crime_area'] = df_police['crime_area'].replace('Hertfordshire Constabulary', '15')
df_police['crime_area'] = df_police['crime_area'].replace('Humberside Police', '16')
df_police['crime_area'] = df_police['crime_area'].replace('Kent Police', '17')
df_police['crime_area'] = df_police['crime_area'].replace('Lancashire Constabulary', '18')
df_police['crime_area'] = df_police['crime_area'].replace('Leicestershire Police', '19')
df_police['crime_area'] = df_police['crime_area'].replace('Lincolnshire Police', '20')
df_police['crime_area'] = df_police['crime_area'].replace('Merseyside Police', '21')
df_police['crime_area'] = df_police['crime_area'].replace('Metropolitan Police Service', '22')
df_police['crime_area'] = df_police['crime_area'].replace('Norfolk Constabulary', '23')
df_police['crime_area'] = df_police['crime_area'].replace('Northamptonshire Police', '24')
df_police['crime_area'] = df_police['crime_area'].replace('Northumbria Police', '25')
df_police['crime_area'] = df_police['crime_area'].replace('North Yorkshire Police', '26')
df_police['crime_area'] = df_police['crime_area'].replace('Nottinghamshire Police', '27')
df_police['crime_area'] = df_police['crime_area'].replace('South Yorkshire Police', '28')
df_police['crime_area'] = df_police['crime_area'].replace('Staffordshire Police', '29')
df_police['crime_area'] = df_police['crime_area'].replace('Suffolk Constabulary', '30')
df_police['crime_area'] = df_police['crime_area'].replace('Surrey Police', '31')
df_police['crime_area'] = df_police['crime_area'].replace('Sussex Police', '32')
df_police['crime_area'] = df_police['crime_area'].replace('Thames Valley Police', '33')
df_police['crime_area'] = df_police['crime_area'].replace('Warwickshire Police', '34')
df_police['crime_area'] = df_police['crime_area'].replace('West Mercia Police', '35')
df_police['crime_area'] = df_police['crime_area'].replace('West Midlands Police', '36')
df_police['crime_area'] = df_police['crime_area'].replace('West Yorkshire Police', '37')
df_police['crime_area'] = df_police['crime_area'].replace('Wiltshire Police', '38')
df_police['crime_area'] = df_police['crime_area'].replace('Dyfed-Powys Police', '40')
df_police['crime_area'] = df_police['crime_area'].replace('Gwent Police', '41')
df_police['crime_area'] = df_police['crime_area'].replace('North Wales Police', '42')
df_police['crime_area'] = df_police['crime_area'].replace('South Wales Police', '43')

In [42]:
df_police['crime_area'].value_counts(dropna = False)

1     4
32    4
24    4
25    4
26    4
27    4
28    4
29    4
30    4
31    4
33    4
2     4
34    4
35    4
36    4
37    4
38    4
40    4
41    4
42    4
23    4
22    4
21    4
20    4
3     4
4     4
5     4
6     4
7     4
8     4
9     4
10    4
11    4
12    4
13    4
14    4
15    4
16    4
17    4
18    4
19    4
43    4
Name: crime_area, dtype: int64

In [43]:
#Adjusting data types
df_police['crime_area'] = df_police['crime_area'].astype('int8')
df_police['year'] = df_police['year'].astype('int16')

In [44]:
#splitting both sets into 2 by year
df_crime1 =  df_crime[df_crime['year']>=2020]
df_crime2 =  df_crime[df_crime['year']<=2019]
df_police1 =  df_police[df_police['year']>=2020]
df_police2 =  df_police[df_police['year']<=2019]

In [45]:
df_crime1.shape

(10469121, 13)

In [46]:
df_crime2.shape

(7893407, 13)

In [47]:
df_crime1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10469121 entries, 0 to 17867850
Data columns (total 13 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   id           int32
 2   date         object
 3   reported     int8
 4   crime_area   int8
 5   Longitude    float32
 6   Latitude     float32
 7   lsoa_code    object
 8   lsoa_name    object
 9   crime_type   int8
 10  outcome_cat  float16
 11  year         int16
 12  month        int8
dtypes: float16(1), float32(2), int16(1), int32(1), int64(1), int8(4), object(3)
memory usage: 599.0+ MB

In [48]:
df_crime2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7893407 entries, 3636329 to 18362527
Data columns (total 13 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   id           int32
 2   date         object
 3   reported     int8
 4   crime_area   int8
 5   Longitude    float32
 6   Latitude     float32
 7   lsoa_code    object
 8   lsoa_name    object
 9   crime_type   int8
 10  outcome_cat  float16
 11  year         int16
 12  month        int8
dtypes: float16(1), float32(2), int16(1), int32(1), int64(1), int8(4), object(3)
memory usage: 451.7+ MB

# 09. Merge

In [49]:
#Merge police and crime1
crime_police1 = df_police1.merge(df_crime1, on = ['crime_area','year'], how = 'right', indicator = True)

In [50]:
#Checking match
crime_police1['_merge'].value_counts()

both          10458938
right_only       10183
left_only            0
Name: _merge, dtype: int64

In [51]:
crime_police1.head()

,Staff_area_name,crime_area,Geo_boundries_Data_match,number_residents,number_police,year,police_per_1000,number_spc,Crimes Sept 2020 - August 2021 (12 months),crimes per 1000 redsident Sept 2020 - August 2021,...,date,reported,Longitude,Latitude,lsoa_code,lsoa_name,crime_type,outcome_cat,month,_merge
0,West Yorkshire,37,E23000010,2332500.0,5342.0,2020,2.3,271.0,NaN,NaN,...,2020-01,37,-1.570572,53.607792,E01007418,Barnsley 016A,14,24.0,1,both
1,West Yorkshire,37,E23000010,2332500.0,5342.0,2020,2.3,271.0,NaN,NaN,...,2020-01,37,-1.670108,53.553631,E01007426,Barnsley 027D,8,10.0,1,both
2,West Yorkshire,37,E23000010,2332500.0,5342.0,2020,2.3,271.0,NaN,NaN,...,2020-01,37,-1.879031,53.943806,E01010646,Bradford 001A,2,10.0,1,both
3,West Yorkshire,37,E23000010,2332500.0,5342.0,2020,2.3,271.0,NaN,NaN,...,2020-01,37,-1.882746,53.933807,E01010646,Bradford 001A,3,10.0,1,both
4,West Yorkshire,37,E23000010,2332500.0,5342.0,2020,2.3,271.0,NaN,NaN,...,2020-01,37,-1.881467,53.944511,E01010646,Bradford 001A,4,10.0,1,both

In [52]:
#Merge police and crime2
crime_police2 = df_police2.merge(df_crime2, on = ['crime_area','year'], how = 'right', indicator = True)

In [53]:
#Checking match
crime_police2['_merge'].value_counts()

both          7881034
right_only      12373
left_only           0
Name: _merge, dtype: int64

# 10.1 Export merged data

In [54]:
# Export data to pkl
crime_police1.to_pickle(os.path.join(path, 'Data','Prepared Data', 'crime_police1.pkl'))

In [55]:
crime_police2.to_pickle(os.path.join(path, 'Data','Prepared Data', 'crime_police2.pkl'))

In [56]:
del df_crime

In [57]:
del df_crime1

In [58]:
del df_crime2

# 10.2 Re-load crime_police sets for Concat

In [59]:
#Concat both parts
frames = [crime_police1, crime_police2]
crime_police = pd.concat(frames) 
#crime_police = crime_police1.append(crime_police2)

In [60]:
crime_police.shape

(18362528, 24)

In [61]:
crime_police = crime_police.drop(columns=['_merge'])

# 10. Export concat data

In [62]:
# Export data to pkl
crime_police.to_pickle(os.path.join(path, 'Data','Prepared Data', 'crime_police_combined.pkl'))

# 11. Quality checks

In [3]:
crime_police = pd.read_pickle(os.path.join(path, 'Data','Prepared Data', 'crime_police_combined.pkl'))

In [4]:
#Find columns with mixed data types
for col in crime_police.columns.tolist():
  weird = (crime_police[[col]].applymap(type) != crime_police[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (crime_police[weird]) > 0:
    print (col)

Staff_area_name
Geo_boundries_Data_match
lsoa_code
lsoa_name

In [12]:
crime_police.head()

,Staff_area_name,crime_area,Geo_boundries_Data_match,number_residents,number_police,year,police_per_1000,number_spc,Unnamed: 0,id,date,reported,Longitude,Latitude,lsoa_code,lsoa_name,crime_type,outcome_cat,month
0,West Yorkshire,37,E23000010,2332500.0,5342.0,2020,2.3,271.0,0,0,2020-01,37,-1.570572,53.607792,E01007418,Barnsley 016A,14,24.0,1
1,West Yorkshire,37,E23000010,2332500.0,5342.0,2020,2.3,271.0,1,1,2020-01,37,-1.670108,53.553631,E01007426,Barnsley 027D,8,10.0,1
2,West Yorkshire,37,E23000010,2332500.0,5342.0,2020,2.3,271.0,2,2,2020-01,37,-1.879031,53.943806,E01010646,Bradford 001A,2,10.0,1
3,West Yorkshire,37,E23000010,2332500.0,5342.0,2020,2.3,271.0,3,3,2020-01,37,-1.882746,53.933807,E01010646,Bradford 001A,3,10.0,1
4,West Yorkshire,37,E23000010,2332500.0,5342.0,2020,2.3,271.0,4,4,2020-01,37,-1.881467,53.944511,E01010646,Bradford 001A,4,10.0,1

In [6]:
#Adjusting data types
crime_police['Staff_area_name'] = crime_police['Staff_area_name'].astype('str')
crime_police['Geo_boundries_Data_match'] = crime_police['Geo_boundries_Data_match'].astype('str')
crime_police['lsoa_code'] = crime_police['lsoa_code'].astype('str')
crime_police['lsoa_name'] = crime_police['lsoa_name'].astype('str')

In [7]:
#Check for missing values
crime_police.isnull().sum()

Staff_area_name                                                      0
crime_area                                                           0
Geo_boundries_Data_match                                             0
number_residents                                                 22556
number_police                                                    22556
year                                                                 0
police_per_1000                                                  22556
number_spc                                                       22556
Crimes Sept 2020 - August 2021 (12 months)                    14054648
crimes per 1000 redsident Sept 2020 - August 2021             14054648
Crimes per police officer, Sept 2020 - August 2021            14054648
crimes per frontend police officer Sept 2020 - August 2021    14054648
Unnamed: 0                                                           0
id                                                                   0
date                                                                 0
reported                                                             0
Longitude                                                       373411
Latitude                                                        373411
lsoa_code                                                            0
lsoa_name                                                            0
crime_type                                                           0
outcome_cat                                                    4340696
month                                                                0
dtype: int64

# 11.1 Recalculating Crimes variables
Dropping variables with over 14m missing observations and will recalculate per month.

In [10]:
#Drop Crimes variables as will be recalculated, rather than imputing missing values
crime_police=crime_police.drop(columns = ['Crimes Sept 2020 - August 2021 (12 months)'])
crime_police = crime_police.drop(columns=['crimes per frontend police officer Sept 2020 - August 2021'])
crime_police = crime_police.drop(columns=['crimes per 1000 redsident Sept 2020 - August 2021'])
crime_police = crime_police.drop(columns=['Crimes per police officer, Sept 2020 - August 2021']) 
crime_police = crime_police.drop(columns=['Unnamed: 0'])

In [ ]:
#crime_police.join(crime_police.groupby(['crime_area','date']).transform('count').reset_index(),on=['crime_area','date'])

In [47]:
#Grouping crimes by date and constabulary
crime_police['number_crimes']=crime_police.groupby(['crime_area','date'])['id'].transform('count')

In [44]:
#Grouping crimes by date and constabulary
#crime_police['number_crimes']=
#number_of_crimes = crime_police.groupby(['crime_area','date'])['id'].transform('count')

In [45]:
#number_of_crimes.head()

0    27252
1    27252
2    27252
3    27252
4    27252
Name: id, dtype: int64

In [46]:
#number_of_crimes.info()

<class 'pandas.core.series.Series'>
Int64Index: 18362528 entries, 0 to 7893406
Series name: id
Non-Null Count     Dtype
--------------     -----
18362528 non-null  int64
dtypes: int64(1)
memory usage: 280.2 MB

In [57]:
crime_police.columns

Index(['Staff_area_name', 'crime_area', 'Geo_boundries_Data_match',
       'number_residents', 'number_police', 'year', 'police_per_1000',
       'number_spc', 'id', 'date', 'reported', 'Longitude', 'Latitude',
       'lsoa_code', 'lsoa_name', 'crime_type', 'outcome_cat', 'month',
       'number_crimes', 'crime_per_officer', 'crime_per_residents'],
      dtype='object')

In [27]:
crime_police['number_residents'] = crime_police['number_residents'].astype('float32')
crime_police['number_police'] = crime_police['number_police'].astype('float16')
crime_police['police_per_1000'] = crime_police['police_per_1000'].astype('float16')
crime_police['number_spc'] = crime_police['number_spc'].astype('float16')

In [28]:
crime_police.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18362528 entries, 0 to 7893406
Data columns (total 18 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Staff_area_name           object
 1   crime_area                int8
 2   Geo_boundries_Data_match  object
 3   number_residents          float32
 4   number_police             float16
 5   year                      int16
 6   police_per_1000           float16
 7   number_spc                float16
 8   id                        int32
 9   date                      object
 10  reported                  int8
 11  Longitude                 float32
 12  Latitude                  float32
 13  lsoa_code                 object
 14  lsoa_name                 object
 15  crime_type                int8
 16  outcome_cat               float16
 17  month                     int8
dtypes: float16(4), float32(3), int16(1), int32(1), int8(4), object(5)
memory usage: 1.3+ GB

In [49]:
crime_police.head()

,Staff_area_name,crime_area,Geo_boundries_Data_match,number_residents,number_police,year,police_per_1000,number_spc,id,date,reported,Longitude,Latitude,lsoa_code,lsoa_name,crime_type,outcome_cat,month,number_crimes
0,West Yorkshire,37,E23000010,2332500.0,5344.0,2020,2.300781,271.0,0,2020-01,37,-1.570572,53.607792,E01007418,Barnsley 016A,14,24.0,1,27252
1,West Yorkshire,37,E23000010,2332500.0,5344.0,2020,2.300781,271.0,1,2020-01,37,-1.670108,53.553631,E01007426,Barnsley 027D,8,10.0,1,27252
2,West Yorkshire,37,E23000010,2332500.0,5344.0,2020,2.300781,271.0,2,2020-01,37,-1.879031,53.943806,E01010646,Bradford 001A,2,10.0,1,27252
3,West Yorkshire,37,E23000010,2332500.0,5344.0,2020,2.300781,271.0,3,2020-01,37,-1.882746,53.933807,E01010646,Bradford 001A,3,10.0,1,27252
4,West Yorkshire,37,E23000010,2332500.0,5344.0,2020,2.300781,271.0,4,2020-01,37,-1.881467,53.944511,E01010646,Bradford 001A,4,10.0,1,27252

In [9]:
#Calculate Crimes per officer
crime_police['crime_per_officer'] = crime_police['number_crimes']/crime_police['number_police']

In [10]:
#Calculate crimes per 1000 residents
crime_police['crime_per_residents'] = crime_police['number_crimes']/(crime_police['number_residents']/1000)

In [18]:
crime_police.head()

,Staff_area_name,crime_area,Geo_boundries_Data_match,number_residents,number_police,year,police_per_1000,number_spc,id,date,...,Longitude,Latitude,lsoa_code,lsoa_name,crime_type,outcome_cat,month,number_crimes,crime_per_officer,crime_per_residents
0,West Yorkshire,37,E23000010,2332500.00,5344.00,2020,2.30,271.00,0,2020-01,...,-1.57,53.61,E01007418,Barnsley 016A,14,24.00,1,27252,5.10,11.68
1,West Yorkshire,37,E23000010,2332500.00,5344.00,2020,2.30,271.00,1,2020-01,...,-1.67,53.55,E01007426,Barnsley 027D,8,10.00,1,27252,5.10,11.68
2,West Yorkshire,37,E23000010,2332500.00,5344.00,2020,2.30,271.00,2,2020-01,...,-1.88,53.94,E01010646,Bradford 001A,2,10.00,1,27252,5.10,11.68
3,West Yorkshire,37,E23000010,2332500.00,5344.00,2020,2.30,271.00,3,2020-01,...,-1.88,53.93,E01010646,Bradford 001A,3,10.00,1,27252,5.10,11.68
4,West Yorkshire,37,E23000010,2332500.00,5344.00,2020,2.30,271.00,4,2020-01,...,-1.88,53.94,E01010646,Bradford 001A,4,10.00,1,27252,5.10,11.68

# 12. Imputing other missing values

In [4]:
#Show which contabulary has missing residence data missing values
crime_police[['crime_area','number_residents']].value_counts(dropna = False)

crime_area  number_residents
22          8962000.0           3371292
37          2332500.0            980503
36          2928600.0            785195
18          1508900.0            647491
17          1860100.0            642310
11          1846700.0            625946
33          2420000.0            597055
25          1463900.0            592354
14          1991700.0            543272
28          1409000.0            526495
21          1429900.0            515578
1           1719000.0            502791
32          1712100.0            473201
43          1339400.0            438326
27          1161100.0            411912
8           1772500.0            402809
7           1060000.0            347457
35          1291600.0            324826
15          1189500.0            321437
29          1135900.0            314349
4           1066600.0            313930
16          932800.0             309121
19          1100300.0            301618
31          1196200.0            292186
5           569100.0             292142
13          2835700.0            289150
3           855800.0             245127
24          753300.0             244725
10          636900.0             238367
23          907800.0             234294
9           773800.0             222867
42          699600.0             214250
26          828700.0             214234
20          761200.0             212153
2           675000.0             195851
12          637100.0             188879
41          594200.0             188470
30          761400.0             185791
38          722200.0             168061
34          577900.0             161815
6           500000.0             132691
40          519700.0             129651
39          NaN                   22556
dtype: int64

Constabulary with missing residents numbers is City of London.

In [5]:
#Imputing residents numbers
#crime_police['number_residents'] = crime_police['number_residents'].fillna(8000, inplace = True)
crime_police['number_residents'] = crime_police['number_residents'].replace(np.nan, 8000)

In [4]:
#Checking imputed values
crime_police[['number_residents']].value_counts(dropna = False)

number_residents
8962000.0           3371292
2332500.0            980503
2928600.0            785195
1508900.0            647491
1860100.0            642310
1846700.0            625946
2420000.0            597055
1463900.0            592354
1991700.0            543272
1409000.0            526495
1429900.0            515578
1719000.0            502791
1712100.0            473201
1339400.0            438326
1161100.0            411912
1772500.0            402809
1060000.0            347457
1291600.0            324826
1189500.0            321437
1135900.0            314349
1066600.0            313930
932800.0             309121
1100300.0            301618
1196200.0            292186
569100.0             292142
2835700.0            289150
855800.0             245127
753300.0             244725
636900.0             238367
907800.0             234294
773800.0             222867
699600.0             214250
828700.0             214234
761200.0             212153
675000.0             195851
637100.0             188879
594200.0             188470
761400.0             185791
722200.0             168061
577900.0             161815
500000.0             132691
519700.0             129651
8000.0                22556
dtype: int64

In [5]:
#Imputing officer numbers for City of London with Median value
crime_police['number_police'] = crime_police['number_police'].replace(np.nan, 782)
#Defining label/function
#def officer_label(row):

 # if (row['crime_area'] == 39) and (row['year']==2018):
#    return '734'
#  elif (row['crime_area'] == 39) and (row['year'] == 2019):
#    return '753'
#  elif (row['crime_area'] == 39) and (row['year'] == 2020):
#    return '811'
#  elif (row['crime_area'] == 39) and (row['year'] == 2021):
#    return '851'

In [ ]:
#Apply label/function to df
#crime_police['number_police'] = crime_police.apply(officer_label, axis=1)

In [6]:
crime_police[['number_police']].value_counts(dropna = False)

number_police
32960.0          1181922
31168.0          1108042
33792.0           806165
3000.0            360636
5136.0            339686
                  ...
994.0              14607
1267.0             14588
806.0              14131
1095.0             11476
1186.0              9715
Length: 159, dtype: int64

In [7]:
crime_police['police_per_1000'].value_counts(dropna = False)

1.700195     2736263
1.799805     2188670
2.199219     2106785
3.500000     1383205
1.599609     1195781
3.699219     1181922
1.900391     1102739
2.300781      934851
2.099609      916502
2.000000      905461
1.400391      900630
1.500000      879667
3.800781      806165
2.400391      599894
2.500000      364220
2.800781      137217
97.750000      22556
Name: police_per_1000, dtype: int64

In [7]:
#Imputing police_per_1000 for City of London with ratio of previously imputed values
crime_police['police_per_1000'] = crime_police['police_per_1000'].replace(np.nan, 97.75)

In [8]:
crime_police['police_per_1000'].value_counts(dropna = False)

1.700195     2736263
1.799805     2188670
2.199219     2106785
3.500000     1383205
1.599609     1195781
3.699219     1181922
1.900391     1102739
2.300781      934851
2.099609      916502
2.000000      905461
1.400391      900630
1.500000      879667
3.800781      806165
2.400391      599894
2.500000      364220
2.800781      137217
97.750000      22556
Name: police_per_1000, dtype: int64

City of London is an outlier, due to the relatively low number of residents.

In [11]:
#Check for missing values
crime_police.isnull().sum()

Staff_area_name                   0
crime_area                        0
Geo_boundries_Data_match          0
number_residents                  0
number_police                     0
year                              0
police_per_1000                   0
number_spc                    22556
id                                0
date                              0
reported                          0
Longitude                    373411
Latitude                     373411
lsoa_code                         0
lsoa_name                         0
crime_type                        0
outcome_cat                 4340696
month                             0
number_crimes                     0
crime_per_officer                 0
crime_per_residents               0
dtype: int64

# 13. Descriptive statistics

In [14]:
#remove scientific notation of desc output
pd.options.display.float_format = '{:.2f}'.format

In [15]:
#Descriptive stats on all continuous variables
crime_police[['number_residents','number_police','police_per_1000','number_spc','number_crimes','crime_per_officer','crime_per_residents']].describe()

,number_residents,number_police,police_per_1000,number_spc,number_crimes,crime_per_officer,crime_per_residents
count,18362528.00,18362528.00,18362528.00,18339972.00,18362528.00,18362528.00,18362528.00
mean,2644639.25,NaN,NaN,NaN,28503.77,4.47,9.70
std,2888569.25,NaN,0.00,NaN,31957.19,1.12,3.39
min,8000.00,782.00,1.40,40.00,226.00,0.29,3.89
25%,1100300.00,1928.00,1.70,152.00,8697.00,3.67,7.95
50%,1712100.00,3000.00,2.00,240.00,14994.00,4.47,9.39
75%,2420000.00,5580.00,2.30,358.00,27015.00,5.32,10.66
max,8962000.00,33792.00,97.75,2140.00,114008.00,8.55,116.62

In [13]:
crime_police['Staff_area_name'].describe()

count                18362528
unique                     43
top       Metropolitan Police
freq                  3371292
Name: Staff_area_name, dtype: object

# 14. Export final data

In [12]:
#Export data to pkl
crime_police.to_pickle(os.path.join(path, 'Data','Prepared Data', 'crime_police_cleaned.pkl'))

In [3]:
crime_police = pd.read_pickle(os.path.join(path, 'Data','Prepared Data', 'crime_police_cleaned.pkl'))