## 1 Import libraries & data

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Define path
path = r'C:\Users\astat\Documents\Final project'

In [3]:
#Import data
df_crime = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data','crime_police_cleaned3.csv'), index_col = False)

In [4]:
df_crime.head()

,Unnamed: 0,Staff_area_name,crime_area,Geo_boundries_Data_match,number_residents,number_police,year,police_per_1000,number_spc,id,...,crime_type,outcome_cat,month,number_crimes,crime_per_officer,crime_per_residents,crime,area_size,pop_density,urban
0,0,West Yorkshire,37,E23000010,2332500.0,5344.0,2020,2.3,271.0,0,...,14,24.0,1,27252,5.099551,11.683601,Violence & damage,2029.0,1149.581074,0
1,1,West Yorkshire,37,E23000010,2332500.0,5344.0,2020,2.3,271.0,1,...,8,10.0,1,27252,5.099551,11.683601,Weapons & Drugs,2029.0,1149.581074,0
2,2,West Yorkshire,37,E23000010,2332500.0,5344.0,2020,2.3,271.0,2,...,2,10.0,1,27252,5.099551,11.683601,Theft,2029.0,1149.581074,0
3,3,West Yorkshire,37,E23000010,2332500.0,5344.0,2020,2.3,271.0,3,...,3,10.0,1,27252,5.099551,11.683601,Theft,2029.0,1149.581074,0
4,4,West Yorkshire,37,E23000010,2332500.0,5344.0,2020,2.3,271.0,4,...,4,10.0,1,27252,5.099551,11.683601,Violence & damage,2029.0,1149.581074,0

In [5]:
df_crime.shape

(18362528, 26)

In [6]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18362528 entries, 0 to 18362527
Data columns (total 26 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Unnamed: 0                int64
 1   Staff_area_name           object
 2   crime_area                int64
 3   Geo_boundries_Data_match  object
 4   number_residents          float64
 5   number_police             float64
 6   year                      int64
 7   police_per_1000           float64
 8   number_spc                float64
 9   id                        int64
 10  date                      object
 11  reported                  int64
 12  Longitude                 float64
 13  Latitude                  float64
 14  lsoa_code                 object
 15  lsoa_name                 object
 16  crime_type                int64
 17  outcome_cat               float64
 18  month                     int64
 19  number_crimes             int64
 20  crime_per_officer         float64
 21  crime_per_residents       float64
 22  crime                     object
 23  area_size                 float64
 24  pop_density               float64
 25  urban                     int64
dtypes: float64(11), int64(9), object(6)
memory usage: 3.6+ GB

## 2 Reduce observations to 15m

In [14]:
#Drop Wales
df_crime.drop(df_crime[df_crime.crime_area == 40].index, inplace=True)

In [16]:
df_crime.drop(df_crime[df_crime.crime_area == 41].index, inplace=True)

In [17]:
df_crime.drop(df_crime[df_crime.crime_area == 42].index, inplace=True)

In [18]:
df_crime.drop(df_crime[df_crime.crime_area == 43].index, inplace=True)

In [19]:
df_crime.shape

(17391831, 26)

In [20]:
#Drop 2018
df_crime.drop(df_crime[df_crime.year == 2018].index, inplace=True)

In [21]:
df_crime.shape

(15877703, 26)

In [ ]:
#Drop crimes located in NI
#df_crime.drop(df_crime[df_crime.Longitude<-5.4]) & (df_crime[df_crime.Latitude>54])
#df_new = df.drop(df[(df['col_1'] == 1.0) & (df['col_2'] == 0.0)].index)

In [27]:
#Drop last 2 months (Aug & Sep 2021)
df_crime.drop(df_crime[df_crime.date >= '2021-08'].index, inplace=True)

In [28]:
df_crime.shape

(14985980, 26)

## 3 Export reduced df

In [29]:
df_crime.to_csv(os.path.join(path, 'Data','Prepared Data', 'crime_police_15.csv'))